/* normalisation CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}


/* Header */

header {
    background-color: #333;
    overflow: auto;
}

h1 a {
    position: absolute;
    left: 10px;
    margin-top: 25px;
    text-decoration: none;
    color: #fff;
}

nav {
    position: relative;
    float: right;
}

ul a {
    color: white;
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
}

ul li {
    display: inline;
}

ul li a:hover {
    background-color: #444;
}


/*body  */

.background {
    background-image: url(../img/frame.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-box {
    margin: 0 21.875rem;
    color: #fff;
}

h2 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

hr {
    margin: 0 auto;
    width: 150px;
    background-color: black;
    display: block;
    height: 2rem;
    border-color: black;
}

p {
    margin-top: 20px;
    padding: 0 50px;
}

button {
    margin-top: 20px;
    border-radius: 30px;
    background-color: #fff;
    /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #333;
    border: 1px solid white;
    color: white
}


/*
 
 nav li {
     display: inline;
     float: right;
     width: 25%;
     text-align: center;
 }
 
 nav ul::after {
     content: "";
     display: table;
     clear: both;
 }
 
 nav a {
     display: block;
     text-decoration: none;
     color: white;
     border-bottom: 2px solid transparent;
     padding: 10px 0px;
 }
 
 nav a :hover {
     color: gainsboro;
     border-bottom: 2px solid gainsboro;
 }
 /* 
ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    color: white;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
} */